.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-color: black;
  color: aqua;
}
input {
  width: 55%;
  border-radius: 0.6rem;
  padding: 0.5rem;
  height: 6vh;
  text-align: center;
  margin-bottom: 1rem;
}
